# This root .prettierignore will not be in play inside of workspaces.
# Files that need to be ignored in `./apps`, `./packages`, and `/./tooling`
# need to be given their own .prettierignore in their workspace.

.env*
node_modules
*.log

.next
.contentlayer
.vercel
public
