DATABASE_URL="mysql://dev:dev@localhost/typehero"
REDIS_URL="redis://localhost:6379"
GITHUB_ID=
GITHUB_SECRET=
EDGE_CONFIG=
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=
# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
# AUTH_REDIRECT_PROXY_URL="http://localhost:3001"

# Algolia
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_API_KEY=

# AOT Github ID and Secret
GITHUB_AOT_ID=asdf
GITHUB_AOT_SECRET=asdf
