/* The module for the background of the banner on the landing page */
.backdrop {
  background: linear-gradient(
      -3deg,
      hsla(var(--background) / 0.75) 0%,
      hsla(var(--background) / 0.95) 33%,
      hsl(var(--background)) 50%
    ),
    url('../../../assets/images/background_pattern_flipped.webp');
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

@media (max-width: 3000px) {
  .backdrop {
    background-position-x: 50%;
    background-size: 3300px;
  }
}

@media (max-width: 2000px) {
  .backdrop {
    background-position-x: 50%;
    background-size: 2200px;
  }
}

@media (max-width: 1280px) {
  .backdrop {
    background-position-x: 50%;
    background-size: 1800px;
  }
}
@media (max-width: 768px) {
  .backdrop {
    background: linear-gradient(
        -3deg,
        hsla(var(--background) / 0.75) 0%,
        hsla(var(--background) / 0.95) 15%,
        hsl(var(--background)) 30%
      ),
      url('../../../assets/images/background_pattern_flipped.webp');
    background-size: 1800px;

    background-position-y: bottom;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-x: 60%;
  }
}
@media (max-width: 480px) {
  .backdrop {
    background-position-x: 70%;
  }
}
